<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %}style="background-image: url('{{ hero_image.url }}');"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.hero_align|default('center') }}">
        {{ content|raw }}
    </section>

    <section class="taxonomyCats">

        {# display list of taxonomy categories at the start of the blog listing page, below hero #}

        {% if uri.route|contains('hiking') %}
          <!-- route includes 'hiking' : {{uri.route}} -->
          {% include 'partials/taxonomylist.html.twig' with {base_url: '/hiking', taxonomy: 'hiking-cat'} %}
        {% endif %}

        {% if uri.route|contains('projects') %}
          <!-- route includes 'projects' : {{uri.route}} -->
          {% include 'partials/taxonomylist.html.twig' with {base_url: '/projects', taxonomy: 'projects-cat'} %}
        {% endif %}

    </section>

    <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>
